* {
  padding: 0px;
  margin: 0px;
}



div#top {
  min-height: 25px;
  width: 100%;
  background-color: #2A56A4;
  display: flex;
  padding: 10px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
#dentro {
  display: flex;
  width: 1300px;  
  margin: auto;
  justify-content: space-between;
}

header div a {
  text-decoration: none;
  color: white;
  align-items: center;  
  
}
header div a:hover {
  text-decoration: underline;
  color: #E22E8D;
}
div#meio { 
  display: flex;   
  max-width: 1300px;    
  
  justify-content: center;
  margin: auto;
  
  
}
img#logo { 
  width: 250px;
  margin: 20px;
  
}
#pesquisa{
  max-width: 400px;
  position: absolute;
  margin-top: 25px; 
  border:  4px solid #2A56A4;
  
  border-radius: 10px;
}
#pes {
  flex-direction: column;
  align-items: center;
}
header h1 {

  color: yellow;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 2px 2px 3px black;
  font-size: 20px;
  margin-top: 70px;
  align-items: center;

}
#faleconosco {
  color: #2A56A4;
  margin-top: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 5px;
  
}
#imgfone {
  width: 60px;
  height: 60px;
  margin-top: 15px;
  margin-left: 20px;

}
header nav {
  background-color: #2A56A4;
  
}
#rotbar {
  display: flex;
  max-width: 1300px;
    margin: auto;
  min-height: 25px;
  align-items: center;
  color: white;
  justify-content: flex-end;
}

#imgrot {  
  width: 10px;
  height: 10px;   
}
#todos {
  justify-content: flex-start;
}