* {
  padding: 0px;
  margin: 0px;
}
header {
  background-color: #2A56A4;
  height: 40px;
}
header .topheader {
  max-width: 1300px;
  display: flex;
  margin: auto;
  background-color: #2A56A4;
  color: white;
  padding: 10px;
  justify-content: space-between;
}
header .meioheader {
  max-width: 1300px;
  display: flex;  
  margin: auto;
  margin-top: 15px;
  align-items: center;
  }

header #imglogo{
  margin: 5px;
}

header .baixoheader {
  background-color: #2A56A4;
}
header .baixoheader ul {
  display: flex;
}

header .baixoheader ul li a {
  text-decoration: none;
  color: white;
}